/* Noora Turpeinen */

h5 {
    padding-bottom: 0.25em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.content {
    font-size: 1.25em;
    color: #104d30;
}

.content > p {
    margin: 2em 0 0 3em;
}

.exercises > div > p:last-child {
    padding-top: 1em;
}

.exercises > div > button {
    margin-left: 0.5em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border: none;
    cursor: pointer;
}

.exercises > div {
    padding: 1em 0 1em 3em;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    font-family: 'Bebas Neue';
    background-color: lightyellow;
}

nav {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #198754;
}

footer {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #198754;
}

.hidden {
    display: none;
}

.content > button:first-child {
    margin: 3em 0 0.25em 3em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border: none;
    cursor: pointer;
}

.content > button:nth-child(2) {
    margin: 3em 0 0.25em 1.5em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border: none;
    cursor: pointer;
}

.exercises > div > button {
    margin: 1.5em 0;
    display: block;
}

.exercises > button:last-child {
    margin: 1em 0 3em 3em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border: none;
    cursor: pointer;
}

.content > button:last-child {
    margin: 2em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    border: none;
    cursor: pointer;
}

input {
    display: inline-block;
    color: #104d30;
}

button {
    background-color: #FFC107;
    color: #104d30;
}